@theme {
  /* brand colors */
  --color-primary: #159c47; /* emerald-500 */
  --color-primary-dark: #059669; /* emerald-600 */
  --color-primary-light: #d1fae5; /* emerald-100 */
  --color-primary-hover: #159c47;

  /* legacy colors */
  --color-blue-main: #1e3a8a;
  --color-blue-dark: #3b82f6;
  --color-blue-light: #eff6ff;

  /* fonts */
  --font-nunito: var(--nunito-fonts);
  --font-oxygen: var(--oxygen-fonts);
  --font-poppins: var(--poppin-fonts);

  /* spacings */
  --spacing-1%: 1%;
  --spacing-2%: 2%;
  --spacing-3%: 3%;
  --spacing-4%: 4%;
  --spacing-5%: 5%;
  --spacing-6%: 6%;
  --spacing-7%: 7%;
  --spacing-8%: 8%;
  --spacing-9%: 9%;
  --spacing-10%: 10%;
  --spacing-15%: 15%;
  --spacing-20%: 20%;
  --spacing-25%: 25%;
  --spacing-30%: 30%;
  --spacing-35%: 35%;
  --spacing-40%: 40%;
  --spacing-45%: 45%;
  --spacing-50%: 50%;
}
